* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary: #333;
  --secondary: #999;
  --bg-color:#fff;
  --bg-color-hover:#fafafa;
  --border:#ccc;
}

html {
  font-size: 13pt;
  line-height: 1.44;
  min-width: 480px;
}